#login {
  background-image: url(../../images/login-bg.jpg);
}

.first {
  background-color: #161718;
  width: 100vw;
  height: 100vh;
  opacity: 0.8;

  position: fixed;
  z-index: -1;
}
.container {
  height: 100vh;
  z-index: 9999;
}
.input-l {
  outline: none !important;
  border: none !important;
  background: transparent !important;
  color: #fff;
  ::placeholder {
    color: #fff;
    opacity: 1;
  }
  :focus {
    background-color: #fff;
    color: aliceblue;
  }
}
.int {
  background-color: transparent;
  padding-left: 1rem;
  border: 2px solid #fff;
  :hover {
    background-color: #fff;
  }
  :focus {
    background-color: #fff;
    color: aliceblue;
  }
}
// input ::placeholder {
//   color: #fff;
//   opacity: 1; /* Firefox */
// }

// :-ms-input-placeholder {
//   /* Internet Explorer 10-11 */
//   color: #fff;
// }

// ::-ms-input-placeholder {
//   /* Microsoft Edge */
//   color: #fff;
// }
.btn {
  width: 100%;
}
.forgot {
  // width: 100%;
  text-decoration: none;
  margin-right: 80%;
}
